
*{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: sans-serif;
        font-size: 18px;
        text-decoration: none;
        color: #000000;
}

.section-container{
        background: rgb(247, 246, 246);
        padding: 50px 10%;
}

.div-flex-1{
        flex: 1;
        background: white;
        border-radius: 10px;
        margin-right: 10px;
}

.width-full{
    width: 100%;
}

.outline-none{
    outline: none;
}

.h-40{
        height: 30rem;
}

.div-flex-2{
        flex: 4;
        background-color: transparent;
}

.div-flex-wrap{
        display: flex;
        flex-wrap: wrap;
}

.div-full-width{
        width: 100%;
}

.padding-10{
        padding: 10px;
}

.padding-5{
    padding: 5px;
}

.center{
    justify-content: center;
    align-items: center;
}

.padding-20{
        padding: 20px;
}

.padding-t50{
    padding: 20px;
}

.margin-t10{
        margin-top: 10px;
}

.margin-l10{
        margin-left: 10px;
}

.margin-r5{
    margin-right: 5px;
}

.margin-r10{
    margin-right: 10px;
}

.margin-b20{
    margin-bottom: 20px;
}

.margin-b10{
    margin-bottom: 10px;
}

.margin-t20{
        margin-top: 20px;
}

.margin-v10{
        margin: 10px 0;
}

.margin-v20{
        margin: 20px 0;
}

.div-product-card{
        background: #FFF;
        flex: 1 0 calc(33.33% - 20px);
        margin: 0 10px 20px 10px;
        box-sizing: border-box;
        padding: 20px;
        border-radius: 10px;
        position: relative;
}
/* ********* */
/* HOME PAGE */

.img-container{
        width: 100%;
        height: 20rem;
        object-fit: contain;
}

.div-content-short{
        margin-top: 20px;
        width: 100% ;
}

.text-upper{
        text-transform: uppercase;
}


.text-white{
    color: #FFF;
}

.text-red{
    color: #F05;
}

.text-2{
    font-size: 24px;
}

.text-20{
    font-size: 20px;
    line-height: 35px;
}

.text-justify{
    text-align: justify;
}


.text-3{
        font-family: sans-serif;
        font-size: 25px;
        line-height: 30px;
        display: -webkit-box;
        -webkit-line-clamp: 1; 
        -webkit-box-orient: vertical;
        overflow: hidden; 
        text-overflow: ellipsis;
}

.font-20{
        font-size: 20px;
        line-height: 30px;
}

.font-h1{
    font-size: 44px;
    line-height: 50px;
}

.font-bold{
  font-weight: bold;
}

.transation-sec{
    transition: all ease 0.2s;
}

.flex-center{
    display: flex;
    align-items: center;
}

.flex{
    display: flex;
    align-items: center;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.border-none{
    border: none;
}

.border-r5{
    border-radius: 5px;
}

.cursor-pointer{
    cursor: pointer;
}

.btn{
        border-radius: 5px;
        border: none;
        cursor: pointer;
}
.btn-full-width{
        width: 100%;
}

.bg-yellow{
        background: yellow;
        color: black;
        transition: all ease 1s;
}

.bg-red{
    background-color: #F05;
    color: #FFF;
}


.bg-yellow:hover{
        background: black;
        color: white;
}

.span-price{
        position: absolute;
        top: 10px;
        right: 10px;
        text-align: center;
        color: white;
        font-size: 15px;
        font-weight: bold;
        padding: 5px 10px;
        background: #F05;
        border-radius: 20px;
}




/*  CART */
#message{
        background: #14C38E;
        text-align: center;
        padding: 5px;
        display: none;
    }
    #message p{
        color: #fff;
        font-size: 15px;
    }
    
    .divContentCart{
        padding: 100px 10%;
    }
    .divContentCart .divTop{
        display: flex;
        justify-content: space-between;
        height: 100px;
        display: flex;
        align-items: center;
    }
    
    .divContentCart .divTop a{
        padding: 20px;
        border-radius: 4px;
        transition: all ease .3s;
        letter-spacing: 1px;
    }
    
    .divContentCart .divTop a:first-child{
        background: #000000;
        color: #ffffff;
    }
    .divContentCart .divTop a:last-child{
        color: #FFFFFF;
        background-color: orange;
        visibility: hidden;
    }
    
    .divContentCart .divTop div{
        display: flex;
        align-items: center;
    }
    
    .divContentCart .divTop div p #panier{
        font-size: 35px;
        font-weight: bold;
    }
    
    .divContentCart .divTop div p:last-child{
        margin-left: 20px;
        font-size: 30px;
    }
    
    .divContentCart .divTop div p:last-child sup{
        background: #f05;
        color: #ffffff;
        border-radius: 50%;
        padding: 3px 6px;
        font-size: 15px;
    }
    
    
    .divFlexCart{
        display: flex;
        justify-content: space-between;
        margin-top: 50px;
    }
    
    .divCartItems{
        flex: 3;
    }
    
    
    /* -----------------Div Cart Prices ------------------ */
    
    .divCartPrices{
        border: 1px solid #dedddda3;
        flex: 1;
        padding: 20px;
        height: 500px;
    }
    
    .divCartPrices h2{
        font-weight: lighter;
        text-align: center;
        font-size: 35px;
        line-height: 50px;
    }
    
    .divCartPrices > div{
        margin: 25px 0;
        display: flex;
        flex-direction: column;
    }
    
    .divCartPrices > div .shipping-info{
        display: flex;
        justify-content: space-between;
        height: 70px;
        align-items: center;
    }
    
    
    .divCartPrices > div .shipping-info h4{
        font-weight: normal;
        font-size: 20px;
        letter-spacing: 1px;
    }
    
    .divCartPrices > div .shipping-info span{
        font-weight: normal;
        font-size: 25px;
        letter-spacing: 1px;
    }
    
    .divCartPrices > div .shipping-info.total{
        margin-top: 10px;
    }
    
    .divCartPrices > div .shipping-info.total h4,
    .divCartPrices > div .shipping-info.total span{
        font-weight: bold;
        font-size: 30px;
        letter-spacing: 1px;
    }
    
    .divCartPrices .dinBtnCheckout,
    .divCartPrices .dinBtnCheckout a{
        width: 100%;
    }
    
    .divCartPrices .dinBtnCheckout a{
        background: orange;
        color: #000;
        padding: 15px 0;
        text-align: center;
        border-radius: 4px;
    }
    
    
    /* ************************* */
    /* ********PRODUCT CART**** */
    /* *********************** */
    .divCartItem{
        border-bottom: 1px solid #dedddda3;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 30px 0px;
        margin-right: 20px;
    }
    
    .divCartItem:last-child{
        border-bottom: none;
    }
    
    .divImageInfo{
        display: flex;
        align-items: center;
        
    }
    .divImageInfo .divImage{
        width: 150px;
        height: 150px;
    }
    .divImageInfo img{
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }
    
    .divImageInfo .divInfos{
        padding-left: 10px;
    }
    .divImageInfo .divInfos h3{
        font-size: 35px;
        line-height: 45px;
    }
    .divImageInfo .divInfos p{
        line-height: 30px;
        font-size: 20px;
    }
    
    
    
    .divPriceQuantity{
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-right: 20px;
    
    }
    .productQauntity{
        margin-bottom: 20px;
    }
    .productQauntity .action{
        background: #dedddda3;
        font-size: 30px;
        font-weight: bold;
        padding: 5px 10px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .productQauntity .value{
        margin: 0 15px;
        font-size: 25px;
    }
    .divPriceQuantity h4{
        font-size: 25px;
        letter-spacing: 1px;
        font-weight: normal;
    }
    
    
 



/* DETAIL */

.divProducts{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }
    
    .divProduct{
        box-shadow: 0 4px 8px 0 #000000;
        margin: 0 42px 50px 0;
        width: 10vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 4px;
    }
    
    .divProduct:nth-child(5n){
        margin-right: 0;
    }
    
    .divProduct img{
        width: 100%;
        background: rgb(211, 255, 15);
    }
    
    .divProduct h2{
        letter-spacing: 1px;
        padding: 10px 0;
        font-size: 20px;
    }
    
    
    #btnAddProduct{
        background: #FFF;
        padding: 5px;
        border-radius: 4px;
        border: none;
        cursor: pointer;
        border: 2px solid rgb(0, 145, 255);
        color: rgb(0, 145, 255);
        letter-spacing: 1px;
        transition: all ease .3s;
    }
    
    
    #btnAddProduct:hover{
        background: rgb(0, 145, 255);
        color: #FFF;
    }